*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
.idea/gradle.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
gradle/
gradlew
gradlew.bat
.idea/inspectionProfiles/
